*{
  box-sizing: border-box;
  margin: 0;
}
/* Gaya untuk tabel */
table {
  width: 100%; /* Mengatur lebar tabel menjadi 100% */
  border-collapse: collapse; /* Menghapus jarak antara border sel */
  margin: 20px 0; /* Memberikan margin atas dan bawah */
}

/* Gaya untuk header tabel */
th {
  background-color: #008080; /* Warna latar belakang hijau */
  color: white; /* Warna teks putih */
  padding: 12px; /* Memberikan padding pada sel header */
  text-align: left; /* Mengatur teks rata kiri */
}

/* Gaya untuk sel tabel */
td {
  border: 1px solid #ddd; /* Border abu-abu muda */
  padding: 8px; /* Memberikan padding pada sel */
}

/* Gaya untuk baris tabel saat hover */
tr:hover {
  background-color: #f1f1f1; /* Warna latar belakang saat hover */
}

/* Gaya untuk tombol */
button {
  background-color: #008CBA; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  padding: 8px 16px; /* Padding tombol */
  border: none; /* Menghapus border tombol */
  border-radius: 4px; /* Membuat sudut tombol menjadi melengkung */
  cursor: pointer; /* Menunjukkan bahwa tombol dapat diklik */
  margin-right: 5px; /* Memberikan jarak antara tombol */
}

/* Gaya untuk tombol saat hover */
button:hover {
  background-color: #005f73; /* Warna latar belakang saat hover */
}